.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.slika{
  width: 90%;
  display: block;
  margin: 50px;
  border-radius: 10%;
}

body{
  background-image: url("pozadina.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}


.kontejner{
  margin-top: 1%;
  background-color: white;
  padding: 35px;
}
.naslov{
  margin-top: 13%;
  width: fit-content;
  border-radius: 10%;
}

.slikaProizvoda{
  height: 250px;
  width: 285px;
}

.navigacija{
  background-color: #C0424E;
  color: white;
}
.logo{
  color: white !important;
}

.font{
  color: white;
}

.kartice{
  display: inline-block;
  margin: 27px;

  box-shadow: 0 2px 4px 0 rgb(0,0,0.2);
  transition: 0.3s;


}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
